#container{
	padding: 20px;
	background-color: #eee;
	border-color: #999;
	border:1px solid;
	width: 80%;
	margin: 0 auto;
	height: 800px;
}
.design{
	vertical-align: top;
}
#left{
	float: left;
	width: 200px;
    border-color: #999;
	border:1px solid;
	background-color:white;
	clear: both;
}
#middle{
	float: left;
	border-color: #999;
	border:1px solid;
	padding:20px;
    background-color:white;
    margin: 0 20px;
    width: 73%;
}
#right{
	width: 120px;
	float: left;	
    border-color: #999;
	border:1px solid;
	background-color:white;
}
.ss{
	display: inline-block;
    width: 80px;
    height: 80px;
    background: url(https://placehold.it/80x80) no-repeat;
    border: 1px solid #999;
    margin:20px;
}
